body {
    background-color: #ebebeb;
    color: #5f656d;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: open sans, sans-serif;
    margin: 0px;
}

h1 {
    font-size: 150%;
}

/* Horizontális menü */
nav {
    background-color: #333;
    float: left;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    box-shadow: 0px 0px 15px #000;
}

nav h1 {
    color: #fb5000;
    float: left;    
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom:0px;
    text-transform: uppercase;
    font-size: 250%;
}

nav h1 span {
    color: #fff;    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
}
  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
}
  
nav ul li a:hover, nav ul li a.active {
    background-color: #fb5000;
}

/* Vertikális menü */
aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
  
aside li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
aside li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
aside li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.slider-section {
    max-width: 100%;
}

.mySlides {
    background-color: pink;
}

.caption {
    width: 100%;
    position: relative;
    margin-top: -60px;    
    top: 0px;
    left: 0px;
    padding: 15px 0px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

section, footer {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color:#fff;
    max-width: initial;
    text-align: center;
    line-height: 50px;
    margin-bottom: 0px;
    display: inline-block;
}

article, aside {
    float: left;
    margin: 15px 0px;
}

article {
    width: 70%;
    min-height: 400px;
}

aside {
    width: 28%;
    margin-left: 2%;    
}

.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

.termek {
    float: left;
    position: relative;
    width: 48%;
    max-height: 400px;
    margin: 0 2% 50px 0;    
    overflow:hidden;
    background-color: #000;
}

.termekkep img {
    width: 100%;
}

.termekar {
    background-color: #fb4f00d0;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}

.termeknev {
    background-color: #fb4f00d0;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    font-size: 110%;
}

.overlay {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    cursor: pointer;
    transition: all, 0.8s;
}

.overlay:hover {
    opacity: 0;
}

.bovebbenBtn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0px;
    padding: 15px;
    cursor: pointer;
}

.bovebbenBtn:hover {
    cursor: pointer;
    background-color: #fb5000;
    color: #000;
}

.termekleiras {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f1f1f1;
    color: #222; 
    font-size: 10pt;   
}

input[type="email"], input[type="text"], input[type="date"], select, textarea {
    width:200px;
    padding: 5px;
}